@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url(components.css);
@import url(utilities.css);
@import url(variables.css);

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--bg);
}

/* FEATURED  */
.featured-listing h3 {
    font-weight: 600;
    color: var(--text-dark);
}

.featured-list {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
    grid-auto-flow: dense;
}

.listing-card {
    background: var(--white);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.listing-card .save-icon {
    font-size: 23px;
    right: 20px;
    top: 20px;
    position: absolute;
    background: var(--white);
    padding: 5px 12px;
    color: var(--text-light-dark);
    text-decoration: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 5px 2px rgb(0 0 0 / 10%);
    transition: all 0.3s ease;
}

.listing-card .save-icon:hover,
.listing-card .active {
    background: var(--primary);
    color: var(--white);
}

.listing-card:hover {
    box-shadow: 0px 10px 8px 0px rgba(0, 0, 0, 0.1);
}

.listing-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.listing-card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.listing-card .rating {
    font-size: 18px;
    font-weight: 500;
    color: var(--primary);
}

.listing-card .footer-details {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.listing-card .footer-details .address {
    font-size: 14px;
    font-weight: 400;
    color: var(--text-light-dark);
}

.listing-card .footer-details .price {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--dark);
}

.message-wrapper {
    width: 100%;
    display: none;
}

.message {
    margin: 0.5rem 0rem;
    background: #212121;
    color: #eaeaea;
    padding: 1rem 1rem;
    margin-top: 1.5rem;
    font-weight: 400;
    font-size: 13px;
    width: 100%;
    border-radius: 13px;
}

.gs-input-wrapper {
    margin: 1rem 0;
}

.gs-input-wrapper label {
    color: var(--text-light-dark);
    font-size: 14px;
}

.gs-input-wrapper input,
.gs-input-wrapper textarea,
.gs-input-wrapper select {
    width: 100%;
    height: 50px;
    border: 2px solid rgba(var(--dark-rgb), 0.1);
    border-radius: 5px;
    padding: 0 10px;
    font-size: 15px;
    font-weight: 400;
    color: var(--text-light-dark);
    outline: none;
    transition: all 0.3s ease;
    margin-top: 0.5rem;
}

.gs-input-wrapper textarea {
    height: 200px;
}


/* Address */
.address-card {
    background: var(--white);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    margin-bottom: 10px;
}

.address-card .delete-icon {
    font-size: 23px;
    right: 20px;
    top: 20px;
    position: absolute;
    background: var(--white);
    padding: 5px 12px;
    color: var(--text-light-dark);
    text-decoration: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 5px 2px rgb(0 0 0 / 10%);
    transition: all 0.3s ease;
}

.address-card .delete-icon:hover,
.address-card .active {
    background: var(--primary);
    color: var(--white);
}

.address-card:hover {
    box-shadow: 0px 10px 8px 0px rgba(0, 0, 0, 0.1);
}

.address-card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}


.address-card .footer-details {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.address-card .footer-details .price {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--dark);
}


